<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/appScript.js"></script>
</head>
<body>
{{>header}}
<p>Created by {{name}}</p>
<img src="/img/3-robot.jpg">
</body>
</html>